<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% block head %}{% endblock %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <script src="{% static 'script/script.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="w-full bg-white shadow-md">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16 items-center">
                    <div class="text-xl font-semibold text-indigo-600">
                        ⚡ Regex Generator
                    </div>
                    <div>
                        <a href="{% url 'support' %}"
                        class="inline-flex items-center bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-2 px-4 rounded transition duration-300">
                            ☕ Buy Me a Coffee
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>